<ion-header>
  <ion-toolbar color='dark'>
    <ion-title>
      Acerca de Last Time
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='dark'>
  <ion-card color='dark'>
    <ion-card-header>
      <ion-card-title>Enrique Briones</ion-card-title>
      

      <ion-card-subtitle>enr.briones@outlook.cl</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Esta aplicación está pensada para personas (como yo), que olvidan llevar un registro de ciertas actividades y el día menos pensado necesitamos saber cuándo se realizaron por última vez.
    </ion-card-content>
  </ion-card>
  

</ion-content>
