<ion-header>
  <ion-toolbar color='dark'>
    <ion-title>
      Acerca de Last Time
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='dark'>
  <ion-card>
    <ion-card-header>
      <ion-card-title color='light'>Enrique Briones</ion-card-title>
      <ion-card-subtitle color="primary">https://github.com/enrbriones</ion-card-subtitle>
      <ion-card-subtitle color='danger'>enr.briones@outlook.cl</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content color='danger'>
      Esta aplicación está pensada para personas (como yo), que olvidan llevar un registro de ciertas actividades y el día menos pensado necesitamos saber cuándo se realizaron por última vez.
    </ion-card-content>
  </ion-card>
  

</ion-content>
