<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Mis Acciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-slides [options]="sliderOpts" *ngIf="arrAcciones.length==0">
    <ion-slide>
      <ion-label>
        No hay acciones guardadas. Agrega una nueva acción con el botón (+).
      </ion-label>
    </ion-slide>
  </ion-slides>


  
  <div *ngIf="arrAcciones.length>0">
    <div *ngFor="let accion of arrAcciones">
      <app-accion
        (accionSeleccionada)="eliminarAccion($event)"
        (accionEditar)="editarFecha($event)"
        [accion]="accion"
      ></app-accion>
    </div>
  </div>

  <ion-row>
    <ion-col size="12" [ngStyle]="{height: '80px'}"></ion-col>
  </ion-row>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="tertiary" (click)="abrirModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
